<template>
    <div>
       <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
          aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
          <div class="slds-modal__container">
             <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                   title="Close" onclick={handleCloseModal}>
                   <lightning-icon icon-name="utility:close" variant="inverse" alternative-text="Close" size="medium">
                   </lightning-icon>
                   <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
                   <strong>{header}</strong>
                </h2>
             </header>
             <div class="slds-modal__content" id="modal-content-id-1">
                <div class="padding-horizontal slds-m-around_small">
                   <lightning-combobox
                      name="FilterType"
                      label="Filter Type"
                      value={value}
                      placeholder="Select Filter Type"
                      options={options}
                      onchange={handleFilterSelect} ></lightning-combobox>
                   <lightning-input type="text" label="Enter Filter Value" onchange={handleFilterValue}></lightning-input>
                </div>
             </div>
             <footer class="slds-modal__footer">
                <lightning-button class="slds-m-top_small" label="Cancel" onclick={handleCloseModal}>
                </lightning-button>
                <lightning-button class="slds-m-top_small slds-p-left_small formSubmitButton" 
                   variant="brand" 
                   type="submit" 
                   label="Save"
                   disabled={disableSaveButton}
                   onclick={handleSave}>
                </lightning-button>
             </footer>
          </div>
       </section>
       <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
 </template>