<template>
    <div class="main">
        <div class="slds-p-horizontal_small">
        <template for:each={filterMap} for:item="filter">
            <template if:true={filter.name}>
                <lightning-pill key={filter.name}  name={filter.value} label={filter.labelValue}  onremove={handleRemoveOnly}></lightning-pill>
            </template>
        </template>
        </div>
    <button class="slds-button slds-button_brand label-action-button-width" 
                                                onclick={handleOpenFilterAction}>
                                            Add Filter
    </button>

    <template if:true={openFilterModel}>
       <c-filter_model onclosemodal={handleCloseFilterAction} options={options}></c-filter_model>
    </template>
    </div>
</template>